{% extends 'base1.html' %}
{% block 'content' %}
{% load static %}

 <!-- Page Header Start -->
 <div class="container-fluid page-header py-5 mb-10 wow fadeIn" data-wow-delay="0.1s"  style="background-image:url({% static 'img/bg6.jpg' %});">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-4">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                
                <li class="breadcrumb-item "><a href="#">About</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-5">Welcome to Freelance Hub: Your Premier Platform for Freelancers and Clients</h1>
                    <p class="mb-4">At Freelance Hub, we believe in the power of independent professionals and the companies that rely on their expertise. Our mission is to connect talented freelancers with businesses looking for exceptional skills, fostering a thriving ecosystem where both parties can succeed and grow.
                       <br><br>  <h1 class="display-6 mb-5" style="color: var(--secondary)">
                            Our Story
                          </h1>
                        
                        Freelance Hub was founded with a simple goal: to provide a seamless platform that bridges the gap between freelancers and employers. In today’s fast-paced world, we understand the need for flexibility, efficiency, and quality. Our platform is designed to meet these needs by offering a user-friendly interface, robust tools, and a supportive community.
                        
                        </p>
                    <div class="border-top mt-4 pt-4">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid w-100 wow zoomIn" data-wow-delay="0.7s" src="{% static 'img/bg2.png' %}" style="height:400px;width:400px;">
                
            </div>
        </div>
    </div>
</div>

<br><br><br>


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    
                    <div class="col-6 ">
                        <img class="img-fluid wow zoomIn" data-wow-delay="0.1s" src="{% static 'img/bg5.jpg' %}" style="margin-top: -25%;">
                    </div>
                    <div class="col-6">
                        <img class="img-fluid  wow zoomIn" data-wow-delay="0.3s" src="{% static 'img/bg10.jpg' %}" style="margin-top: 15%;margin-left:-100px;">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-5">Welcome to Freelance Hub: Your Premier Platform for Freelancers and Clients</h1>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3" src="{% static 'img/icon/icon-07-primary.png' %}" alt="">
                                <h5 class="mb-0">Expert Technician</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3" src="{% static 'img/icon/icon-09-primary.png' %}" alt="">
                                <h5 class="mb-0">Best Quality Services</h5>
                            </div>
                        </div>
                    </div>
                    <p class="mb-4">Welcome to Freelance Hub, your premier platform for connecting skilled freelancers with top clients. Enjoy effortless job posting, efficient proposal management, real-time progress tracking, and reliable support to ensure your success.</p>
                    <div class="border-top mt-4 pt-4">
                        <div class="d-flex align-items-center">
                            <div class="btn-lg-square bg-secondary rounded-circle me-2">
                                <i class="fa fa-envelope text-white"></i>
                            </div>
                            <h5 class="mb-0">freelancehub76@gmail.com</h5>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- About End -->








{% endblock %}

