
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script>
    $(document).ready(function () {

      $("#pass").keyup(function () {
        check_pass();
      })
      $("#repass").keyup(function () {
        check_repass();
      })

      var pass_error = false;
      var repass_error = false;


      function check_pass() {
        var pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$/;
        var pass = $("#pass").val();
        if (pattern.test(pass) == true && pass != "") {
          $("#error_pass").hide();
          $("#pass").css("border", "2px solid green");
        } else {
          $("#error_pass").html("Minimum eight and maximum 10 characters, at least one uppercase letter, one lowercase letter, one number and one special character.").show();
          $("#pass").css("border", "2px solid red");
          pass_error = true;
        }
      }
      function check_repass() {
        var pass = $("#pass").val();
        var repas = $("#repass").val();
        if (pass === repas && repas != "") {
          $("#error_re").hide();
          $("#repass").css("border", "2px solid green");
        } else {
          $("#error_re").html("<br>Password doesn't matches.").show();
          $("#repass").css("border", "2px solid red");
          repass_error = true;
        }
      }
      $("#form").submit(function () {

        pass_error = false;
        repass_error = false;

        check_pass();
        check_repass();

        if (pass_error === false && repass_error === false) {
          $("#form_err").hide();
          return true;
        } else {
          $("#form_err").html("Please fill the form correctly.").show()
          return false;
        }
      });
    });
  </script>
  <style>
    .error {
      color: red;
      font-family: Comic Sans MS;
      font-weight: bold;
      font-size: 12px;
      display: block;
      margin-top: 5px;
    }

    .password {
      width: 100%;
      padding-right: 40px;

    }

    .password-toggle-icon {
      position: absolute;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      top: 50%;
    }

    .password-toggle-icon i {
      margin-left: -30px;
      font-size: 18px;
      color: #333;
    }
  </style>
</head>

<body>

  <section class="bg-light p-3 p-md-4 p-xl-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-xxl-11">
          <div class="card border-light-subtle shadow-sm">
            <div class="row g-0">
              <div class="col-12 col-md-6">
                <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy"
                  src="{% static 'img/password1.jpg' %}" alt="Welcome back you've been missed!">
              </div>
              <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="col-12 col-lg-11 col-xl-10">
                  <div class="card-body p-3 p-md-4 p-xl-5">
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-5">
                          <div class="text-center mb-4">
                            <a href="#!">
                              <img src="{% static 'img/logo.png' %}" alt="BootstrapBrain Logo" width="175" height="53">
                            </a>
                          </div>
                          <h2 class="h4 text-center">Set Your Password</h2>
                        </div>
                      </div>
                    </div>
                    <form action="{% url 'set_new_password' user.id %}" method="post" id="form">
                      {% csrf_token %}
                      <div class="row gy-3 overflow-hidden">
                        <div class="col-12 position-relative">
                          <div class="form-floating mb-3">
                            <input type="password" class="form-control password" name="new_password" id="pass"
                              placeholder="New Password" required>
                            <span class="password-toggle-icon" id="toggle_new_pass"><i class="fas fa-eye"></i></span>
                            <label for="new_pass" class="form-label">New Password</label>
                            <span id="error_pass" class="error"></span>
                          </div>
                        </div>

                        <div class="col-12 position-relative">
                          <div class="form-floating mb-3">
                            <input type="password" class="form-control password" name="confirm_password" id="repass" e
                              placeholder="Confirm New Password" required>
                            <span class="password-toggle-icon" id="toggle_confirm_pass"><i
                                class="fas fa-eye"></i></span>
                            <label for="confirm_pass" class="form-label">Confirm New Password</label>
                            <span id="error_re" class="error"></span>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="d-grid">
                            <button class="btn btn-dark btn-lg" type="submit">Set Password</button>
                          </div>
                        </div>
                        <span id="form_err" class="error"></span>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      function togglePassword() {
        const passwordFields = document.querySelectorAll(".password");
        const toggleIcons = document.querySelectorAll(".password-toggle-icon i");

        toggleIcons.forEach((icon, index) => {
          icon.addEventListener("click", function () {
            const passwordField = passwordFields[index];
            if (passwordField.type === "password") {
              passwordField.type = "text";
              icon.classList.remove("fa-eye");
              icon.classList.add("fa-eye-slash");
            } else {
              passwordField.type = "password";
              icon.classList.remove("fa-eye-slash");
              icon.classList.add("fa-eye");
            }
          });
        });
      }

      togglePassword();
    });
  </script>


  </script>
</body>
