{% extends 'base1.html' %}
{% block 'content' %}
{% load static %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s"  style="background-image:url({% static 'img/bg4.jpg' %});">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-4">Services</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                
                <li class="breadcrumb-item "><a href="#">Services</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Service Start -->


<div class="container-xxl py-5">
<div class="container">
    <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="h-100">
                <h1 class="display-6 mb-5">Welcome to Our Services</h1>
                <p class="mb-4">
                    Explore our range of professional solutions designed to meet your needs efficiently. Whether you're looking for comprehensive project management or expert consulting, we have the expertise to drive your success.
                    
                   <br><br> 
                <div class="border-top mt-4 pt-4">
                    
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid w-100 wow zoomIn" data-wow-delay="0.7s" src="{% static 'img/bg1.png' %}" style="height:400px;width:400px;">
            
        </div>
    </div>
</div>
</div>


<div class="container-xxl py-5">
<div class="container">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h1 class="display-6 mb-5">We Provide Professional Freelance Services</h1>
    </div>
    <div class="row g-4 justify-content-center">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item">
                <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="">
                <div class="d-flex align-items-center bg-light">
                    <div class="service-icon flex-shrink-0 bg-primary">
                        <img class="img-fluid" src="{% static 'img/icon/icon-01-light.png' %}" alt="">
                    </div>
                    <a class="h4 mx-4 mb-0" href="">Job Posting</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item">
                <img class="img-fluid" src="{% static 'img/service-2.jpg' %}" alt="">
                <div class="d-flex align-items-center bg-light">
                    <div class="service-icon flex-shrink-0 bg-primary">
                        <img class="img-fluid" src="{% static 'img/icon/icon-02-light.png' %}" alt="">
                    </div>
                    <a class="h4 mx-4 mb-0" href="">Proposal Management</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item">
                <img class="img-fluid" src="{% static 'img/service-3.jpg' %}" alt="">
                <div class="d-flex align-items-center bg-light">
                    <div class="service-icon flex-shrink-0 bg-primary">
                        <img class="img-fluid" src="{% static 'img/icon/icon-03-light.png' %}" alt="">
                    </div>
                    <a class="h4 mx-4 mb-0" href="">Progress Tracking</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item">
                <img class="img-fluid" src="{% static 'img/service-4.jpg' %}" alt="">
                <div class="d-flex align-items-center bg-light">
                    <div class="service-icon flex-shrink-0 bg-primary">
                        <img class="img-fluid" src="{% static 'img/icon/icon-04-light.png' %}" alt="">
                    </div>
                    <a class="h4 mx-4 mb-0" href="">Secure Payments</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item">
                <img class="img-fluid" src="img/service-5.jpg' %}" alt="">
                <div class="d-flex align-items-center bg-light">
                    <div class="service-icon flex-shrink-0 bg-primary">
                        <img class="img-fluid" src="{% static 'img/icon/icon-05-light.png' %}" alt="">
                    </div>
                    <a class="h4 mx-4 mb-0" href="">24/7 Support</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item">
                <img class="img-fluid" src="{% static 'img/service-6.jpg' %}" alt="">
                <div class="d-flex align-items-center bg-light">
                    <div class="service-icon flex-shrink-0 bg-primary">
                        <img class="img-fluid" src="{% static 'img/icon/icon-06-light.png' %}" alt="">
                    </div>
                    <a class="h4 mx-4 mb-0" href="">Dispute Resolution</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.9s">
            <div class="service-item">
                <img class="img-fluid" src="{% static 'img/service-8.jpg' %}" alt="">
                <div class="d-flex align-items-center bg-light">
                    <div class="service-icon flex-shrink-0 bg-primary">
                        <img class="img-fluid" src="{% static 'img/icon/icon-08-light.png' %}" alt="">
                    </div>
                    <a class="h4 mx-4 mb-0" href="">Portfolio Management</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1.5s">
            <div class="service-item">
                <img class="img-fluid" src="{% static 'img/service-11.jpg' %}" alt="">
                <div class="d-flex align-items-center bg-light">
                    <div class="service-icon flex-shrink-0 bg-primary">
                        <img class="img-fluid" src="{% static 'img/icon/icon-11-light.png' %}" alt="">
                    </div>
                    <a class="h4 mx-4 mb-0" href="">Project Management Tools</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1.7s">
            <div class="service-item">
                <img class="img-fluid" src="{% static 'img/service-12.jpg' %}" alt="">
                <div class="d-flex align-items-center bg-light">
                    <div class="service-icon flex-shrink-0 bg-primary">
                        <img class="img-fluid" src="{% static 'img/icon/icon-12-light.png' %}" alt="">
                    </div>
                    <a class="h4 mx-4 mb-0" href="">Freelancer Training</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1.9s">
            <div class="service-item">
                <img class="img-fluid" src="{% static 'img/service-13.jpg' %}" alt="">
                <div class="d-flex align-items-center bg-light">
                    <div class="service-icon flex-shrink-0 bg-primary">
                        <img class="img-fluid" src="{% static 'img/icon/icon-13-light.png' %}" alt="">
                    </div>
                    <a class="h4 mx-4 mb-0" href="">Chat System</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Service End -->





{% endblock %}

